*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #003049;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}
.container h1{
    color: #ffffff;
    
}
.input-box{
    display: flex;
    flex-direction: column;
    width: 24%;
    background-color: #022B3A;
    padding: 20px;
    border: 3px solid white;
}
.input-box h3{
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}
.input-box input{
    padding: 10px;
    font-size: 16px;
    background-color: #003049;
    color: #ffffff;
    border-style: none;
    border: 2px solid white;
    margin-bottom: 15px;
}
.input-box button{
    padding: 10px;
    background-color: #F77F00;
    border-style: none;
}
.output-box{
    width: 24%;
    background-color: #022B3A;
    border: 3px solid white;
    margin-top: 10px;
}
.output-box p{
    padding: 10px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
}